{# _myapp/templates/index.html_ #}

{% extends "layout.html" %}
{% from "macros.html" import carousel_image, popular_product_list, new_product_list, sale_product_list, carousel_number with context %}
{% block title %}Hello world!{% endblock %}
{% block body %}
{{ super() }}
<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {{ carousel_number() }}
        </ol>
        {{ carousel_image() }}
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="container">
    <a href="#" class="modified_a"><h3 class="h3">Novos Itens</h3></a>
    <div class="row">
        {{new_product_list()}}
    </div>
</div>
<div class="container">
    <a href="#" class="modified_a"><h3 class="h3">Mais Vendidos</h3></a>
    <div class="row">
        {{popular_product_list()}}
    </div>
</div>
<div class="container">
    <a href="/produto/listar" class="modified_a"><h3 class="h3">Em Promoção</h3></a>
    <div class="row">
        {{sale_product_list()}}
    </div>
</div>

<hr>
{% endblock %}